<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forretningsudvikler - Overblik</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <!-- ikke ledige biler -->
    <div class="boks udlejede-biler">
        <h2>Udlejede biler</h2>
        <ul>
            <li th:each="bil : ${udlejedeBiler}" th:text="${bil.model}">Bilnavn</li>
        </ul>
    </div>

    <!-- ledige biler -->
    <div class="boks ledige-biler">
        <h2>Biler klar til udlejning</h2>
        <ul>
            <li th:each="bil : ${ledigeBiler}" th:text="${bil.model}">Bilnavn</li>
        </ul>
    </div>

    <!-- samlet indtaegt -->
    <div class="boks samlet-indtaegt">
        <h2>Samlet indtægt</h2>
        <p th:text="${indtjening + ' kr.'}">0 kr.</p>
    </div>

</div>

</body>
</html>
