<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Kunde Overblik</title>
    <link rel="stylesheet" href="/static/style.css">
</head>



<!-- MENUBAR -->
<nav class="menubar">
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>

        <li class="dropdown">
            <a href="/biloverblik">Biler</a>
            <div class="dropdown-content">
                <a href="/biloverblik">Overblik over biler</a>
                <a href="/bil/opret">Opret ny bil</a>
            </div>
        </li>

        <li class="dropdown">
            <a href="/lejekontraktOverblik">Lejekontrakter</a>
            <div class="dropdown-content">
                <a href="/lejekontraktOverblik">Overblik lejekontrakter</a>
                <a href="/opretLejekontrakt">Opret lejekontrakt</a>
                <a href="/updateLejekontrakt">Opdater lejekontrakt</a>
            </div>
        </li>

        <li><a href="/kundeoverblik">Kunder</a></li>

        <li class="dropdown">
            <a href="/tilstandsrapport">Rapporter</a>
            <div class="dropdown-content">
                <a href="/tilstandsrapport">Tilstandsrapporter</a>
                <a href="/opretTilstandsrapport">Opret tilstandsrapport</a>
                <a href="/skaderapport">Skaderapporter</a>
                <a href="/opretskaderapport">Opret skaderapport</a>
            </div>
        </li>

        <li><a href="/logout">Log ud</a></li>
    </ul>
</nav>
<!-- SLUT MENUBAR -->



<div class="intro-kundeOverblik">
    <h1>Overblik over kunder</h1>
</div>


<body>
    <div class="tabelOversigt-kunder">
       <table>
           <thead>
           <tr>
               <th>Kunde ID</th>
               <th>Navn</th>
               <th>Adresse</th>
               <th>Telefon Nr</th>
               <th>Email</th>

           </tr>
           </thead>

           <tbody>
           <tr th:each="kunde:${kundeListe}">
               <td th:text="${kunde.kundeId}"></td>
               <td th:text="${kunde.navn}"></td>
               <td th:text ="${kunde.adresse}"></td>
               <td th:text="${kunde.telefonNr}"></td>
               <td th:text="${kunde.email}"></td>
           </tr>

           </tbody>
       </table>
    </div>

    <div class="opret-kundeknap">
        <a href="opretKunde"><button>Opret kunde</button></a>
    </div>


    <div class="update-kundeknap">
        <a href="updateKunde"><button>Opdater kunde</button></a>
    </div>

    <div class="slet-knapKunde">
        <form th:action="@{'/sletKunde/' + ${kunde.kundeId}}" method="get"
              onsubmit="return confirm('Er du sikker på, at du vil slette denne kunde?');"> <!-- return comfirm er en popup javascript laver-->
            <button type="submit" class="slet-knap">Slet</button>
        </form>
    </div>






</body>

</html>