<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Opret Tilstandsrapport</title>
    <link rel="stylesheet" th:href="@{/static/style.css}">
</head>
<body>


<!--- MENUBAR ---->
<nav class="menubar">
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>


        <li class="dropdown">
            <a href="/biloverblik">Biler</a>
            <div class="dropdown-content">
                <a href="/biloverblik">Overblik over biler</a>
                <a href="/bil/opret">Opret ny bil</a>
            </div>
        </li>


        <li class="dropdown">
            <a href="/lejekontraktOverblik">Lejekontrakter</a>
            <div class="dropdown-content">
                <a href="/lejekontraktOverblik">Overblik lejekontrakter</a>
                <a href="/opretLejekontrakt">Opret lejekontrakt</a>
                <a href="/updateLejekontrakt">Opdater lejekontrakt</a>
            </div>
        </li>


        <li><a href="/kundeoverblik">Kunder</a></li>


        <li class="dropdown">
            <a href="/tilstandsrapport">Rapporter</a>
            <div class="dropdown-content">
                <a href="/tilstandsrapport">Tilstandsrapporter</a>
                <a href="/opretTilstandsrapport">Opret tilstandsrapport</a>
                <a href="/skaderapport">Skaderapporter</a>
                <a href="/opretskaderapport">Opret skaderapport</a>
            </div>
        </li>


        <li><a href="/logout">Log ud</a></li>
    </ul>
</nav>
<!-- SLUT MENUBAR -->
<div class="intro-tsformular">
    <h1>Opret Tilstandsrapport</h1>
</div >


<div class="ts-formular">
    <form th:action="@{/tilstandsrapport/gem}" th:object="${rapport}" method="post">


        <label for="bilId">Bil ID (nummer)</label>
        <input type="number" id="bilId" th:field="*{bilId}" required />


        <label for="kontraktId">Lejekontrakt ID (nummer)</label>
        <input type="number" id="kontraktId" th:field="*{kontraktId}" required />


        <label for="tilstandsrapportDato">Dato</label>
        <input type="date" id="tilstandsrapportDato" th:field="*{tilstandsrapportDato}" required />


        <label for="medarbejderId">Medarbejder ID (nummer)</label>
        <input type="number" id="medarbejderId" th:field="*{medarbejderId}" required />


        <label for="erSkadet">
            <input type="checkbox" id="erSkadet" th:field="*{erSkadet}" /> Er bilen skadet?
        </label>


        <button type="submit">Gem</button>


    </form>
</div>
<div class="tilbage-knap">
    <a href="/tilstandsrapport"><button>Tilbage</button></a>
</div>


</body>
</html>
