<!DOCTYPE html>
<html lang="da">

<head>
    <link rel="stylesheet" th:href="@{/static/style.css}">
    <meta charset="UTF-8">
    <title>Opret en lejekontrakt</title>
</head>

<body>

<!-- MENUBAR -->
<nav class="menubar">
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>

        <li class="dropdown">
            <a href="/biloverblik">Biler</a>
            <div class="dropdown-content">
                <a href="/biloverblik">Overblik over biler</a>
                <a href="/bil/opret">Opret ny bil</a>
            </div>
        </li>

        <li class="dropdown">
            <a href="/lejekontraktOverblik">Lejekontrakter</a>
            <div class="dropdown-content">
                <a href="/lejekontraktOverblik">Overblik lejekontrakter</a>
                <a href="/opretLejekontrakt">Opret lejekontrakt</a>
                <a href="/updateLejekontrakt">Opdater lejekontrakt</a>
            </div>
        </li>

        <li><a href="/kundeoverblik">Kunder</a></li>

        <li class="dropdown">
            <a href="/tilstandsrapport">Rapporter</a>
            <div class="dropdown-content">
                <a href="/tilstandsrapport">Tilstandsrapporter</a>
                <a href="/opretTilstandsrapport">Opret tilstandsrapport</a>
                <a href="/skaderapport">Skaderapporter</a>
                <a href="/opretskaderapport">Opret skaderapport</a>
            </div>
        </li>

        <li><a href="/logout">Log ud</a></li>
    </ul>
</nav>
<!-- SLUT MENUBAR -->

<div class="intro-opretKontrakt">
    <h1>Opret ny lejekontrakt</h1>
</div>
<div class="tabel-opretLejekontrakt">
    <form th:action="@{/opret-lejekontrakt}" method="post" th:object="${lejekontrakt}">

        <label for="kontraktId">Lejekontrakt ID</label>
        <input type="text" id="kontraktId" th:field="*{kontraktId}" required> <!-- Hvis der ikke skrives noget i feltet vil browsereen vise at der skal skrives noget-->

        <label for="kundeId">Kunde ID</label>
        <input type="text" id="kundeId" th:field="*{kundeId}" required>

        <label for="bilId">Bil ID</label>
        <input type="text" id="bilId" th:field="*{bilId}" required>

        <label for="startDato">Start dato</label>
        <input type="date" id="startDato" th:field="*{startDato}" required>

        <label for="slutDato">Slut dato</label>
        <input type="date" id="slutDato" th:field="*{slutDato}" required>

        <label for="abonnementType">Abonnementstype</label>
        <input type="text" id="abonnementType" th:field="*{abonnementType}" required>

        <label for="pris">Pris</label>
        <input type="number" id="pris" th:field="*{pris}" step="0.01" required>

        <input type="submit" value="Opret">
    </form>

</div>

<div class="tilbage-knap">
    <a href="/lejekontraktOverblik"><button>Tilbage til liste</button></a>
</div>

</body>

</html>