<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Opret Skaderapport</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>


<!-- MENUBAR -->
<nav class="menubar">
    <ul>
        <li><a th:href="@{/dashboard}">Dashboard</a></li>

        <li class="dropdown">
            <a th:href="@{/biloverblik}">Biler</a>
            <div class="dropdown-content">
                <a th:href="@{/biloverblik}">Overblik over biler</a>
                <a th:href="@{/bil/opret}">Opret ny bil</a>
            </div>
        </li>

        <li class="dropdown">
            <a th:href="@{/lejekontraktOverblik}">Lejekontrakter</a>
            <div class="dropdown-content">
                <a th:href="@{/lejekontraktOverblik}">Overblik lejekontrakter</a>
                <a th:href="@{/opretLejekontrakt}">Opret lejekontrakt</a>
                <a th:href="@{/updateLejekontrakt}">Opdater lejekontrakt</a>
            </div>
        </li>

        <li class="dropdown">
            <a th:href="@{/kundeOverblik}">Kunder</a>
            <div class="dropdown-content">
                <a th:href="@{/kundeOverblik}">Overblik over kunder</a>
                <a th:href="@{/opretKunde}">Opret kunde</a>
                <a th:href="@{/updateKunde}">Opdater kunde</a>
            </div>
        </li>


        <li class="dropdown">
            <a th:href="@{/tilstandsrapport}">Rapporter</a>
            <div class="dropdown-content">
                <a th:href="@{/tilstandsrapport}">Tilstandsrapporter</a>
                <a th:href="@{/opretTilstandsrapport}">Opret tilstandsrapport</a>
                <a th:href="@{/skaderapport}">Skaderapporter</a>
                <a th:href="@{/opretskaderapport}">Opret skaderapport</a>
            </div>
        </li>

        <li><a th:href="@{/logout}">Log ud</a></li>
    </ul>
</nav>
<!-- SLUT MENUBAR -->


<div class="intro-sr">
    <h1>Opret Skaderapport</h1>
</div>




<div class="sr-formular">
    <form th:action="@{/skaderapport/gem}" th:object="${skaderapport}" method="post">


        <label for="tilstandsrapportId">Tilstandsrapport ID</label>
        <input type="number" id="tilstandsrapportId" th:field="*{tilstandsrapportId}" required />


        <label for="medarbejderId">Medarbejder ID</label>
        <input type="number" id="medarbejderId" th:field="*{medarbejderId}" required />


        <label for="antalSkader">Antal skader</label>
        <input type="number" id="antalSkader" th:field="*{antalSkader}" required />


        <label for="prisPrSkade">Pris pr. skade</label>
        <input type="number" id="prisPrSkade" th:field="*{prisPrSkade}" required />


        <label for="prisTotal">Pris total</label>
        <input type="number" id="prisTotal" th:field="*{prisTotal}" required />


        <label for="beskrivelse">Beskrivelse</label>
        <input type="text" id="beskrivelse" th:field="*{beskrivelse}" required />


        <button type="submit">Gem</button>
    </form>
</div>
<div class="tilbage-knap">
    <a href="/skaderapport"><button>Tilbage</button></a>
</div>


</body>
</html>