
<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Skaderapporter</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>


<!-- MENUBAR -->
<nav class="menubar">
    <ul>
        <li><a th:href="@{/dashboard}">Dashboard</a></li>

        <li class="dropdown">
            <a th:href="@{/biloverblik}">Biler</a>
            <div class="dropdown-content">
                <a th:href="@{/biloverblik}">Overblik over biler</a>
                <a th:href="@{/bil/opret}">Opret ny bil</a>
            </div>
        </li>

        <li class="dropdown">
            <a th:href="@{/lejekontraktOverblik}">Lejekontrakter</a>
            <div class="dropdown-content">
                <a th:href="@{/lejekontraktOverblik}">Overblik lejekontrakter</a>
                <a th:href="@{/opretLejekontrakt}">Opret lejekontrakt</a>
                <a th:href="@{/updateLejekontrakt}">Opdater lejekontrakt</a>
            </div>
        </li>

        <li class="dropdown">
            <a th:href="@{/kundeoverblik}">Kunder</a>
            <div class="dropdown-content">
                <a th:href="@{/kundeOverblik}">Overblik over kunder</a>
                <a th:href="@{/opretKunde}">Opret kunde</a>
                <a th:href="@{/updateKunde}">Opdater kunde</a>
            </div>
        </li>


        <li class="dropdown">
            <a th:href="@{/tilstandsrapport}">Rapporter</a>
            <div class="dropdown-content">
                <a th:href="@{/tilstandsrapport}">Tilstandsrapporter</a>
                <a th:href="@{/opretTilstandsrapport}">Opret tilstandsrapport</a>
                <a th:href="@{/skaderapport}">Skaderapporter</a>
                <a th:href="@{/opretskaderapport}">Opret skaderapport</a>
            </div>
        </li>

        <li><a th:href="@{/logout}">Log ud</a></li>
    </ul>
</nav>
<!-- SLUT MENUBAR -->
<div class="intro-sr">
    <h1>Skaderapporter</h1>
</div>

<div class="opret-skadeRapport">
<a href="opretskaderapport" class="button">Opret ny skaderapport</a>
</div>

<div class="sr-oversigt">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Tilstandsrapport ID</th>
            <th>Medarbejder ID</th>
            <th>Antal skader</th>
            <th>Pris pr. skade</th>
            <th>Total pris</th>
            <th>Beskrivelse</th>
            <th>Handlinger</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rapport : ${rapporter}">
            <td th:text="${rapport.skadeId}"></td>
            <td th:text="${rapport.tilstandsrapportId}"></td>
            <td th:text="${rapport.medarbejderId}"></td>
            <td th:text="${rapport.antalSkader}"></td>
            <td th:text="${rapport.prisPrSkade}"></td>
            <td th:text="${rapport.prisTotal}"></td>
            <td th:text="${rapport.beskrivelse}"></td>
            <td>
                <div class="slet-knapSkaderapport">
                <form th:action="@{'/skaderapport/slet/' + ${rapport.skadeId}}" method="get"
                      onsubmit="return confirm('Er du sikker på, at du vil slette denne skaderapport?');">
                    <button type="submit" class="slet-knap">Slet</button>
                </form>
            </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
