<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Opdater lejekontrakt</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>

<body>

<!-- MENUBAR -->
<nav class="menubar">
    <ul>
        <li><a th:href="@{/dashboard}">Dashboard</a></li>

        <li class="dropdown">
            <a th:href="@{/biloverblik}">Biler</a>
            <div class="dropdown-content">
                <a th:href="@{/biloverblik}">Overblik over biler</a>
                <a th:href="@{/bil/opret}">Opret ny bil</a>
            </div>
        </li>

        <li class="dropdown">
            <a th:href="@{/lejekontraktOverblik}">Lejekontrakter</a>
            <div class="dropdown-content">
                <a th:href="@{/lejekontraktOverblik}">Overblik lejekontrakter</a>
                <a th:href="@{/opretLejekontrakt}">Opret lejekontrakt</a>
                <a th:href="@{/updateLejekontrakt}">Opdater lejekontrakt</a>
            </div>
        </li>

        <li class="dropdown">
            <a th:href="@{/kundeOverblik}">Kunder</a>
            <div class="dropdown-content">
                <a th:href="@{/kundeOverblik}">Overblik over kunder</a>
                <a th:href="@{/opretKunde}">Opret kunde</a>
                <a th:href="@{/updateKunde}">Opdater kunde</a>
            </div>
        </li>


        <li class="dropdown">
            <a th:href="@{/tilstandsrapport}">Rapporter</a>
            <div class="dropdown-content">
                <a th:href="@{/tilstandsrapport}">Tilstandsrapporter</a>
                <a th:href="@{/opretTilstandsrapport}">Opret tilstandsrapport</a>
                <a th:href="@{/skaderapport}">Skaderapporter</a>
                <a th:href="@{/opretskaderapport}">Opret skaderapport</a>
            </div>
        </li>

        <li><a th:href="@{/logout}">Log ud</a></li>
    </ul>
</nav>
<!-- SLUT MENUBAR -->

<div class="intro-updateLejekontrakt">
    <h1>Opdater lejekontrakt</h1>
</div>

<div class="tabel-updateLejekontrakt">
    <form th:action="@{/updateLejekontrakt}" th:object="${updateLejekontrakt}" method="post">

        <label>Kontrakt ID</label>
        <input type="text" th:field="*{kontraktId}" readonly><br>

        <label>Kunde ID</label>
        <input type="text" th:field="*{kundeId}"><br>

        <label>Bil ID</label>
        <input type="text" th:field="*{bilId}"><br>

        <label>Start dato</label>
        <input type="date" th:field="*{startDato}"><br>

        <label>Slut dato</label>
        <input type="date" th:field="*{slutDato}"><br>

        <label>Abonnementstype</label>
        <input type="text" th:field="*{abonnementType}"><br>

        <label>Pris</label>
        <input type="text" th:field="*{pris}"><br>

        <label>Medarbejder ID</label>
        <input type="text" th:field="*{medarbejderId}"><br>

        <button type="submit">Opdater</button>

    </form>
</div>

<div class="tilbage-knap">
    <a th:href="@{/lejekontraktOverblik}"><button>Tilbage til liste</button></a>
</div>

</body>

</html>